<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenFilter</filter-name>
        <filter-class>com.mark.filter.AuthenFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenFilter</filter-name>
        <url-pattern>/personal/*</url-pattern>
        <url-pattern>/comment</url-pattern>
        <url-pattern>/HandleFavorite</url-pattern>
    </filter-mapping>
    
    <servlet>
        <servlet-name>AuthorizeServlet</servlet-name>
        <servlet-class>com.mark.controller.AuthorizeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoadingSongServlet</servlet-name>
        <servlet-class>com.mark.controller.LoadingSongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UploadSongServlet</servlet-name>
        <servlet-class>com.mark.controller.UploadSongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandlePlaySongServlet</servlet-name>
        <servlet-class>com.mark.controller.HandlePlaySongServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CommentServlet</servlet-name>
        <servlet-class>com.mark.controller.CommentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AddWriterServlet</servlet-name>
        <servlet-class>com.mark.controller.ProcessWriterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProcessArtistServlet</servlet-name>
        <servlet-class>com.mark.controller.ProcessArtistServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandleFavoriteServlet</servlet-name>
        <servlet-class>com.mark.controller.HandleFavoriteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>VerifyFormServlet</servlet-name>
        <servlet-class>com.mark.controller.VerifyFormServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HandlePlayListServlet</servlet-name>
        <servlet-class>com.mark.controller.HandlePlayListServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateUserController</servlet-name>
        <servlet-class>com.mark.controller.UpdateUserController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorizeServlet</servlet-name>
        <url-pattern>/signin.do</url-pattern>
    </servlet-mapping>
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
    <servlet-mapping>
        <servlet-name>LoadingSongServlet</servlet-name>
        <url-pattern>/list</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UploadSongServlet</servlet-name>
        <url-pattern>/upload</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandlePlaySongServlet</servlet-name>
        <url-pattern>/play</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CommentServlet</servlet-name>
        <url-pattern>/comment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AddWriterServlet</servlet-name>
        <url-pattern>/writer.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProcessArtistServlet</servlet-name>
        <url-pattern>/artist.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandleFavoriteServlet</servlet-name>
        <url-pattern>/HandleFavorite</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>VerifyFormServlet</servlet-name>
        <url-pattern>/verify.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HandlePlayListServlet</servlet-name>
        <url-pattern>/addplaylist</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateUserController</servlet-name>
        <url-pattern>/update.do</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
