/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 22, 2019, 12:08:37 AM
    Author     : PC
*/

nav.main-menu-bar {
    position: relative;
    padding: 0px 10px 0px;
    width: 100%;
    display: flex;
    justify-content: center;

}
div.site-header {
    background-color: rgba(4, 6, 66,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    font-family: Mansalva;
    position: relative;
}
div.site-tag-name {
    color: #ffffff;
    box-sizing: border-box;
    width: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}
div.login-system {
    margin-left: 0;
    position: relative;
}
div.login-system a{
    position: relative;
    text-decoration: none;
    color: #ffffff;
}
p.login-text:hover {
    cursor: pointer;
    color: #ab5fde;
}
div.drop-down-login {
    position: absolute;
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
    font-size: 14px;
    right: 0;
    top: 100%;
    width: 175px;
    display: block;
    z-index: 99;
}
ul.drop-down-login-option {
    line-height: 10px;
}
.search-form-icon {
    background: url('../img/search-icon.png');
    background-size: cover;
    background-position: center;
    width: 32px;
    height: 32px;
    padding: 0;
    border: 0px;
}
div.search-form, .search-text{
    background-color: rgba(205, 236, 255,.2);
}
.search-form-icon:hover{
    background-color: rgb(139, 188, 199);
}
.btn-search-icon:focus, .search-text:focus {
    outline: none;
    background-color: rgba(205, 236, 255,.5);
}
ul.main-nav-bar {
    width: 40%;
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
ul.drop-down-login-option {
    list-style-type: none;
    width:100%;
    padding: 0px;
}
li.item {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 6em;
    transition: 0.25s ease-in-out;
}
li.item:hover {
    background-color: rgba(100, 87, 130,.4);
    color: #f1f2eb;
}
li.item a {
    font-size: 14px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
}
.drop-hide {
    display: none !important;
}


