/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2019, 9:21:31 PM
    Author     : PC
*/

div.container-fluid {
    background-color: rgba(4, 6, 66,.3);
    box-shadow: 0 1px 5px 0 rgba(0,0,0,.2);
}
body {
    background-image: url("../img/main-bg2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
