/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 13, 2019, 9:21:31 PM
    Author     : PC
*/
*
{
    margin: 0;
    outline: 0;
    padding: 0;
    box-sizing: border-box;
}
.border-radius-0 {border-radius: 0!important}
.t-main-navigation
{
    background: #ffffff;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 2px 4px;
}
.nav-item a
{
    text-transform: uppercase;
    font-weight: 600;
}

.nav-item a:hover,
.active a
{
    color: #04b2f7!important;
}

.nav-item.active
{
    display: block;
}

body {
    background-image: url("../img/main-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
