/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Oct 21, 2019, 4:24:27 PM
    Author     : PC
*/
html, body {
    height: 100%;
    width: 100%;
}
ul.list-search-mode {
    list-style: none;
}
ul.list-search-mode li {
    padding: 5px;
    
}
div.vertical-song-card{
    height: 45px;
}
div.singer-title {
    font-size: 14px;
}